@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

:root {
  --veryDarkBlue: #121417;
  --white: #ffffff;
  --lightGrey: #959eac;
  --darkBlue: #252d37;
  --orange: #fb7413;
  --mediumGrey: #7c8798;
}

/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/
/* 

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Overpass", sans-serif;
  /* color: ; */
  line-height: 1;
  line-height: 1.6;
  background-color: var(--veryDarkBlue);
  overflow-x: hidden;
  overflow-y: hidden;
}
.container {
  width: 25%;
  margin: 10rem auto;
}
.rating__section,
.thankyou__section {
  padding: 24px;

  display: flex;
  flex-direction: column;
  background-color: var(--darkBlue);
  border-radius: 32px;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  -ms-border-radius: 32px;
  -o-border-radius: 32px;
}
.rating__section {
  gap: 24px;
}
.thankyou__section {
  gap: 24px;
  padding: 32.5px;
}
.hide {
  display: none;
}
.star-box {
  background-color: var(--veryDarkBlue);

  padding: 13px;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.star-icon {
  width: 16px;
  height: 16px;
}
.text-box h2 {
  color: #fff;
  margin-bottom: 6px;
}

.text-box p {
  font-size: 15px;
  color: var(--mediumGrey);
}
.rating-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rating-box div {
  border-radius: 50%;
  text-align: center;
  width: 46px;
  height: 46px;
  background-color: var(--veryDarkBlue);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  padding-top: 4%;
}
.rating-box div.highlight__prev {
  background-color: var(--mediumGrey);
}

.rating-box div:hover {
  cursor: pointer;
  background-color: var(--orange);
}
.submit {
  position: relative;
  margin-bottom: 1.2rem;
  margin-top: 1.6rem;
}
.btn {
  background-color: #fc7614;
  border: none;
  color: #fff;
  width: 90%;
  padding: 9px 0;
  font-size: 15px;
  letter-spacing: 1px;
  border-radius: 24px;
  text-align: center;
  position: absolute;
  text-transform: uppercase;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.submit .btn:hover {
  color: var(--orange);
  background-color: var(--white);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
}
@media (max-width: 768px) {
  .container {
    width: 75%;
  }
}
@media (max-width: 544px) {
  .container {
    width: 90%;
  }
}
.svg-container {
  margin: 16px auto 0;
}
.rate-box {
  margin: 0 auto;
  padding: 3px 14px;

  background-color: var(--mediumGrey);
  border-radius: 0.8rem;
  -webkit-border-radius: 0.8rem;
  -moz-border-radius: 0.8rem;
  -ms-border-radius: 0.8rem;
  -o-border-radius: 0.8rem;
}
.rate-selected__text {
  color: var(--orange);
  font-size: 14px;
  text-align: center;
}

.thank__text-box {
  margin: 6px 0 40px 0;
}
.thank__text-box h2 {
  text-align: center;
  color: var(--white);
}
.thank__text-box p {
  font-size: 15px;
  color: var(--lightGrey);
  text-align: center;
  line-height: 1.5;
}
